<form onsubmit="return addNewProduct(this)">
    <div class="mb-3">
      <label for="title" class="form-label">Nombre</label>
      <input type="text" required class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input type="text" required class="form-control" id="price" name="price">
    </div>
    <div class="mb-4">
      <label for="thumbnail" class="form-label">Foto URL</label>
      <input type="text" required class="form-control" id="thumbnail" name="thumbnail">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>